################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/packages
/src/.vs/uGraph/v16
/src/Test/Ui/App_Data/Logs
/src/Test/Ui/App_Data/TEMP/ClientDependency
