################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/packages
/src/.vs/uGraph/v16
/src/Test/Ui/App_Data
/src/Test/Ui/bin
/src/Test/Ui/obj
/src/BackOffice/bin
/src/BackOffice/obj
